<div class="row mt-5">
        <div class="col-md-6 mx-auto">
    <div class="data-form">
        <h3 class="form-heading">add availability</h3>
        <div class="formgroup">
        <label for="start-time" class="custom-label">Start time</label>
        <input type="time" class="custom-input" name="start-time" id="start-time">
        </div>
        <div class="formgroup">
        <label for="end-time" class="custom-label">end time</label>
        <input type="time" class="custom-input" name="end-time" id="end-time">
        </div>
      
       <button class="primary-button" id="add-availability">add availability</button>
     </div>
    </div>
    </div>
    <script src="/js/add-availability.js"></script>