 <div class="row mt-5">
    <div class="col-md-6 mx-auto">
    <div class="data-form">
        <h3 class="form-heading">Edit your profile</h3>
        <div class="formgroup">
        <label for="fullname" class="custom-label">Fullname</label>
        <input type="text" class="custom-input" name="fullname" id="fullname" value='{{fullname}}'/>
        </div>
        <div class="formgroup">
        <label for="email" class="custom-label">Email</label>
        <input type="text" class="custom-input" name="email" id="email" value="{{email}}">
        </div>
        <div class="formgroup">
        <label for="phone" class="custom-label">Phone</label>
        <input type="text" class="custom-input" name="phone" id="phone" value="{{phone}}">
        </div>
        <div class="formgroup">
        <label for="address" class="custom-label">address</label>
        <input type="text" class="custom-input" name="address" id="address" value="{{address}}">
        </div>
        <button class="primary-button" id="btn-update">Update</button>
     </div>
    </div>
    </div>
    <script src="/js/edit-profile.js"></script>