 <div class="row mt-5">
        <div class="col-md-6 mx-auto">
    <div class="data-form">
        <h3 class="form-heading">Staff Signup</h3>
        <div class="formgroup">
        <label for="fullname" class="custom-label">Fullname</label>
        <input type="text" class="custom-input" name="fullname" id="fullname">
        </div>
        <div class="formgroup">
        <label for="email" class="custom-label">Email</label>
        <input type="text" class="custom-input" name="email" id="email">
        </div>
        <div class="formgroup">
        <label for="phone" class="custom-label">Phone</label>
        <input type="text" class="custom-input" name="phone" id="phone">
        </div>
        <div class="formgroup">
        <label for="address" class="custom-label">address</label>
        <input type="text" class="custom-input" name="address" id="address">
        </div>
        <div class="formgroup">
        <label for="hrs-limit" class="custom-label">hours limit</label>
        <input type="number" class="custom-input" name="hrs-limit" id="hrs-limit">
        </div>
         <div class="formgroup">
        <label for="password" class="custom-label">Password</label>
        <input type="text" class="custom-input" name="password" id="password">
        </div>
         <div class="formgroup">
        <label for="c-password" class="custom-label">Confirm password</label>
        <input type="text" class="custom-input" name="c-password" id="c-password">
        </div>
        <button class="primary-button" id="btn-signup">Signup</button>
     </div>
    </div>
    </div>
    <script src="/js/staff-signup.js"></script>