body{
    background-color: #f0e3ca;
}
.navbar{
    background-color: #a35709 !important;
}
.brand{
    color:#f0e3ca;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.brand:hover{
    color:#f0e3ca;
}
.nav-links a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    text-transform: capitalize;
    color: #ff8303;
    border-radius: 10px;
    background-color: #1b1a17;
    padding:10px 20px;
}
.nav-links button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5px;
    text-transform: capitalize;
    color: #ff8303;
    border: 0px;
    border-radius: 10px;
    background-color: #1b1a17;
    padding:10px 20px;
}
.light{
    color: #f0e3ca !important;
}

.index-link{
    text-decoration: none;
    font-size: 26px;
    padding:20px 30px;
    border: 1px solid #1b1a17;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1b1a17;
    margin-top: 50px;
    margin-right:20px;
}
.index-link:hover{
    color:#a35709;
    border: 1px solid #a35709;
    
}
.heading{
    color: rgb(245, 188, 82);
}

.data-form{
    padding:50px;
    border:1px solid #1b1a17;
    border-top: 5px solid #1b1a17;
    border-bottom: 5px solid #1b1a17;
    margin-bottom: 50px;
}
.data-form h3{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
.formgroup label{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight:600;
    text-transform: capitalize;
}
.formgroup input{
    width: 100%;
    border-radius: 0px !important;
    border:1px solid #a35709;
    padding:10px 10px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.formgroup select{
    width: 100%;
    border-radius: 0px !important;
    border:1px solid #a35709;
    padding:10px 10px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.data-form p{
    text-align: center;
    margin-top: 20px;
}
.data-form p a{
    color: #a35709;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 5px;
}
.primary-button{
    display: block;
    margin-right: auto!important;
    margin-left: auto!important;
    margin-top: 20px;
    border: 0px;
    padding:5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    background-color: #a35709;
}
.primary-button:hover{
    background-color: #ff8303;
}
.main-heading{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    color: #1b1a17;
}
.custom-tbl{
    color: #ff8303 !important;
    
}
.custom-tbl th,.custom-tbl td{
    background-color: #1b1a17 !important;
}